!!! 5
%html
  %head
    %title This is a test
    %meta{:charset => "utf-8"} 
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  %body
    %h1 This is a test
    
    %h2 Original image
    = original_image

    %br
    %br
    
    %h2 Resized image
    = resized_image
